{{define "period-overview-shell"}}
<!DOCTYPE html>
<html lang="ru">
<head>
{{template "spa-head" .}}
<title>OKR Tracker · Обзор периода</title>
<link rel="stylesheet" href="/static/tracker.css">
<link rel="stylesheet" href="/static/markdown.css">
<link rel="stylesheet" href="/static/components.css">
<link rel="stylesheet" href="/static/sidebar.css">
</head>
<body>
<div id="root"><div class="loading-screen">Загрузка…</div></div>
{{template "spa-vendor" .}}
<script type="text/babel" src="/static/api.js" data-presets="react"></script>
<script type="text/babel" src="/static/storage.js" data-presets="react"></script>
<script type="text/babel" src="/static/period_url.js" data-presets="react"></script>
<script type="text/babel" src="/static/ui.js" data-presets="react"></script>
<script type="text/babel" src="/static/sidebar.js" data-presets="react"></script>
<script type="text/babel" src="/static/period_select.js" data-presets="react"></script>
<script type="text/babel" src="/static/balance_bars.js" data-presets="react"></script>
<script type="text/babel" src="/static/progress_chart.js" data-presets="react"></script>
<script type="text/babel" src="/static/period_overview_view.js" data-presets="react"></script>
<script type="text/babel" src="/static/period-overview.js" data-presets="react"></script>
</body>
</html>
{{end}}
